 $primary: #1750A7;
 
 ul.bluebar {
    background: $primary;
    width: auto;
    height: 50px;
    margin: 0px;
    display: flex;
      

    h5 {

        margin: auto;
        margin-right: 8%;
        color: white;
        font-size: 19px;
        font-family: Palatino Linotype;
        
    }

    .inheaderbar {
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: space-evenly;
        align-items: center;
        width: auto;
    }

    img.phoneicon {
        display: flex;
        margin: auto;
        width: auto;
        height: 20px;
       
    }

    img.emailicon {
        display: flex;
        margin: auto;
        width: auto;
        height: auto;

    }

    a {
        margin: auto 10px;
        font-weight: bold;
        color: white;
        font-size: 17px;
        font-family: Open Sans;
    }

 }

 .secdiv {
    display: flex;
    height: 150px;
    width: auto;
    background: whitesmoke;

    .firstbox {
        display: flex; 
        flex-direction: column;
        margin: auto 100px;
        margin-top: 10px;
    
        .respmask {
            display: flex;
            margin: auto 25px;
            // margin-bottom: 20px;

           img {
               width: auto;
               height: auto;
           }
        }

        .logodiv {
            display: flex;
            margin: auto 20px;
        }    
    }

    .middbox {
        display: flex;
        margin: auto 100px;
        width: 408px;

       .srchinput {
        display: flex;
        margin: auto; 
        
       }
       
       input {
        width: 400px;
        height: auto;
       }
       
    }

    .lastbox {
        display: flex; 
        flex-direction: column;
        margin: auto 100px; 
    }

 }

 ul.nav {
    display: flex;
    flex-direction: row;
    background: rgba(23, 81, 167, 0.384); 
    margin: 0px;
    height: 45px;
    justify-content: space-evenly;
    

    li.nav-item {
        list-style: none;
        margin: auto 25px;        
        padding: auto;
    
        a {
            color: white;
            font-family: Open Sans;
            font-weight: bold;
            font-size: 22px;
            text-decoration: none;
        }

    }

 }